# This service unit is for #growlabb app execution script

[Unit]
Description=Runs sample.sh script
Wants=growlabapp.timer

[Service]
Type=simple
WorkingDirectory=/home/pi/git/growlab/app
ExecStart=/home/pi/git/growlab/app/sample.sh
User=pi

[Install]
WantedBy=multi-user.target
